@import "bootstrap/scss/bootstrap.scss";

#Logo{
    width: 150px;
}
.vastag{
    font-weight: bold;
}
button{
    border-radius: 10px;

}


.h2Custom{
    color: rgb(27, 14, 145);
    font-weight: bold;

}

.h1Custom{
    text-align: center;
    font-size: 6.5vw;
    color: green;
    -webkit-text-stroke: 2px;
    font-weight: bold;
    padding: 25px;
}


.card{

    align-self: center;
    padding-right: 0px;
    padding-left: 0px;
}

.fa-cart-shopping {

    font-size: 30px;
    transition: transform .7s ease-in-out;

}
.fa-palette{

    font-size: 50px;

}

.fa-cart-shopping:hover {
    transform: rotate(360deg);
}

// Kosar Stílusok Kezdete

#RendelesFolyatatasaBtn{
    width: 200px;
    margin-top: 10px;
    padding: 20px;
    text-align: center;
    text-transform: uppercase;
    transition: 0.5s;
    background-size: 200% auto;
    color: white;
    box-shadow: 0 0 20px #eee;
    border-radius: 10px;
    background-image: linear-gradient(to right, #ffd754 0%, #fd9172 51%, #ffd651 100%);

}

#RendelesFolyatatasaBtn:hover, #TorolBtn:hover{
  background-position: right center; /* change the direction of the change here */
}

#TorolBtn{
    float: right;
    border-radius: 5px;
    width: 80px;
    margin-top: 7px;
    padding: 9px;
    color: white;
    text-align: center;
    transition: 0.5s;
    background-size: 200% auto;
    text-transform: uppercase;
    background-image: linear-gradient(to right, #ad3333 0%, #fd7272 51%, #ff0000 100%);
}

.termekContainer{
    background-color: gray;
    border-radius: 10px;
    padding: 15px;
}
.PlusMinus{
    font-size: large;
    padding: 3px 10px;
    border-radius: 30px;
}

// Kosar Stílusok Vége

